version: "2.1"

services:
  frontend:
    build:
      context: ./project-ui
      dockerfile: ./Dockerfile.template
    ports:
      - "80:80"
    networks:
      - internal
    restart: unless-stopped
  backend:
    build:
      context: ./project-api
      dockerfile: ./Dockerfile.template
    ports:
      - "3001:3001"
    networks:
      - internal
    restart: unless-stopped
  mongo:
    image: arm7/mongo
    restart: always
    volumes:
      - "mongo-data:/data/db"
    ports:
      - "27017:27017"
    networks:
      - internal

volumes:
  mongo-data:

networks:
  internal: {}
